*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}
h1{
  font-size: 4.6em;
}

.App {
  text-align: center;
  min-height: 140vh;
  background-color: rgb(234, 234, 234)
}

.balls-container {
  display: flex;
  justify-content: center;
}

.Lotto-btn {
  border-radius: 10px;
  background-color: black;
  color: white;
  width: 8em;
  box-shadow: 10px 2px 10px gray;
  padding: 5px;
  font-size: large;

}

.Lotto-btn:hover {
  background-color: rgb(61, 61, 61);
}

.ball {
  border-radius: 50%;
  background-color: tomato;
  width: 10em;
  display: inline inline-block;
  height: 10em;
  text-align: center;
  padding: 1.6em;
  font-size: large;
  font-weight: 700;
  color: white;
  margin: 5px;
  box-shadow: 3px 2px 3px gray;
}

